user_uuid = "3ead0a3f-0c08-4426-a3a9-113ac165b414"
s3_bucket_name = "moadfdge3oz9qsdgspjl6ptnmlspqib1"
error_html_filepath = "public/error.html"
index_html_filepath = "public/index.html"
content_version = 6
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
terratowns_endpoints = "https://terratowns.cloud/api/"
