@media print {
    /* Your print styles go here */
    body {
      font-size: 8pt; /* Adjust font size for print */
     
    }
    main {
        font-size: 8pt;
        
    }
    /* Add more print-specific styles as needed */
  }

body {
    font-family: Arial, sans-serif;
    background-color: #302c2c;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}
header {
    background-color: #101110;
    color: rgb(36, 33, 33);
    text-align: center;
    padding: 10px;
    
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #302c2c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
h1 {
    color: #0c0c0c;
}
p {
    line-height: 1.6;
}
section {
    margin-bottom: 10px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #070707bd;
    color: #302b27;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Customize your additional styles here */
